* {
  background-color: rgba(247, 244, 244, 0.994);
}
.form-container {
  margin-top: 100px;
  margin-left: 600px;
  margin-right: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  font-size: 1.5rem;
  background-color: white;
}
.useRef-container {
  margin-top: 100px;
  display: flex;
  height: 20vw;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.btn {
  background: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 30px;
  color: cornsilk;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px solid;
  margin-left: 20px;
}
input {
    background-color: white;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid black;
  }
